<template>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
    <h3 class="panel-title">Login Form</h3>
  </div>
  <div class="panel-body">
    <form @submit.prevent="addToAPI"> 
      <div class="hell" v-if="error">
        <h5>please login again username and password doesn't match... </h5>
      </div>
  <div class="form-group">
        <label class="content-label" for="username">Email</label>
            <input name="username" class="form-control" v-validate="'required|email'"  :class="{'input': true, 'is-danger': errors.has('username') }" type="text" placeholder="username" v-model="username">
            <i v-show="errors.has('username')" class="fa fa-warning"></i>
            <span v-show="errors.has('username')" class="help is-danger">{{ errors.first('username') }}</span>
    </div>
  <div class="form-group">
            <label class="content-label">Password</label>
                <input name="password" class="form-control"  v-validate="'required|min:6'" :class="{'input': true, 'is-danger': errors.has('password') }" type="password" placeholder="Password" v-model="password">
                <i v-show="errors.has('password')" class="fa fa-warning"></i>
                <span v-show="errors.has('password')" class="help is-danger">{{ errors.first('password') }}</span>
        </div>
      
  <button type="submit" class="btn btn-primary">Submit</button>
  Not Registered?<router-link :to="{ name: 'Register' }">create an account</router-link>
  
</form>
      </div>
     </div> 
    </div>
  </div>
</template>
<script>
/* eslint-disable */ 
import axios from 'axios'
export default {
  name: 'app',
  data () {
    return {
      msg: [],
     username: '',
     password: '',
     error: false
    }
  }, 
  methods: {
      addToAPI () {
        let newUser = {
        username: this.username,
        password: this.password,
      }
            console.log(newUser);
      axios.post('http://localhost:5000/api/login',newUser)
      .then((response) =>{
        console.log(response);
        this.$router.push('/Home') 
      })
      .catch((error)=>{
        console.log(error);
        this.error = true;
      });
    }
    }
     
  }
</script>

<style>
.panel {
  margin-top : 2em;
}
span {
  color : red;
}
.hell {
  color :red;
}
</style>