<template>
<div class="row" >
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
    <h3 class="panel-title">Register Form</h3>
  </div>
  <div class="panel-body">
    <form @submit.prevent="addToAPI"> 
      <div class="regist" v-if="submitted">
    <h5>Registered Successfully... </h5>
  </div>
  <div class="form-group">
        <label class="content-label" for="username">Email</label>
            <input name="username" class="form-control" v-validate="'required|email'"  :class="{'input': true, 'is-danger': errors.has('username') }" type="text" placeholder="username" v-model="username">
            <i v-show="errors.has('username')" class="fa fa-warning"></i>
            <span v-show="errors.has('username')" class="help is-danger">{{ errors.first('username') }}</span>
    </div>
  <div class="form-group">
            <label class="content-label">Password</label>
                <input name="password" class="form-control" v-validate="'required|min:6'" :class="{'input': true, 'is-danger': errors.has('password') }" type="password" placeholder="Password" v-model="password">
                <i v-show="errors.has('password')" class="fa fa-warning"></i>
                <span v-show="errors.has('password')" class="help is-danger">{{ errors.first('password') }}</span>
        </div>
        <div class="form-group">
        <label class="content-label">Brand Name</label>
            <input name="brand_name" v-model="brand_name" v-validate="'required|alpha'" :class="{'input': true, 'is-danger': errors.has('brand_name') }"  class="form-control" type="text" placeholder="Brand Name">
            <i v-show="errors.has('brand_name')" class="fa fa-warning"></i>
            <span v-show="errors.has('brand_name')" class="help is-danger">{{ errors.first('brand_name') }}</span>
    </div>
    <div class="form-group">
        <label class="content-label">Type</label>
            <input name="type" v-model="type" v-validate="'required|numeric'" :class="{'input': true, 'is-danger': errors.has('type') }" type="text" placeholder="Type" class="form-control">
            <i v-show="errors.has('type')" class="fa fa-warning"></i>
            <span v-show="errors.has('type')" class="help is-danger">{{ errors.first('type') }}</span>
    </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <router-link :to="{ name: 'Login' }" class="btn btn-primary">login</router-link> 
</form>
      </div>
     </div>
    </div>
  </div>
</template>
<script>
/* eslint-disable */ 
import axios from 'axios'
export default {
  name: 'app',
  data () {
    return {
      msg: [],
      username: '',
      password: '',
      brand_name: '',
      type: '',
      submitted: '', 
        }      
  },
  watch:{
      type(value){
        console.log(value);
        this.allnumber(value);
      }

  },
  methods: {
      addToAPI () {
        let newUser = {
        username: this.username,
        password: this.password,
        brand_name: this.brand_name,
        type: this.type
      }
        console.log(newUser);
         axios.post('https://boiling-earth-10935.herokuapp.com/registration',newUser)
      .then((response) =>{
        console.log(response); 
        this.$validator.validateAll().then((result) => {
        console.log(result)
        if (result) {
          // eslint-disable-next-line
        this.submitted = true; 
          return;
        }
        else {
         this.submitted = false; 
        }  
      });   
        this.username="";
        this.password="";
        this.brand_name="";
        this.type="";  
      })
      .catch((error)=>{
        console.log(error);
      });
    },
  allnumber(value)
  {
    if(/^[1-2]+$/.test(value))
    {
      this.msg['type']="";
    }
    else
    {
      this.msg['type']='type only 1 or 2';
    }
  }
 }
}

</script>
<style>
.panel {
  margin-top : 2em;
}
span {
  color: red; 
}
.regist {
  color: green;
}
</style>
